#{extends 'main.html' /}
#{set title:'Login' /}

<div class="wrapper">
    <form method="post" action="/logged_in">
        <div class="login clear">
            <div class="hd">
                <h3>Login information</h3>
            </div>
            <div class="bd clear">
                <div class="tian">
                    <div class="mc">user_id</div>
                    <input class="user inptText" id="user_id" name="user_id" type="text" />
                    <span>1~943</span>
                </div>
            </div>
            <div class="dj clear">
                <input id ="btn_sub" type="submit" value="Login"></input>
            </div>
        </div>
    </form>
</div>

#{set 'moreScripts'}
<script type="text/javascript">
    $(document).ready(function(){
        $("#btn_sub").click(function(){
            if(($("#user_id").val())!=''){
                $("#btn_sub").submit();
            }else{
                alert("please input user_id");
                return false;
            }
        });
    })
</script>
#{/set}