#{extends 'main.html' /}
#{set title:'Movie detail' /}

<div class="wrapper">
    <div class="yybt">
        <div class="left-2">
            <div class="fk">
                <div class="fk-1">
                    <div class="fk-2">
                        <img src="/public/upload/${movie.title}.jpg" alt="${movie.title}">
                    </div>
                    <div class="fk-3">
                        <div class="hdd">
                            <h3>${movie.title}</h3>
                            <span>
                                <i>${movie.avg_rating}</i>
                            </span>
                        </div>
                        <div class="bdd">
                            <ul>
                                <li >
                                    <i>Title:</i>
                                    <a>${movie.title}</a>
                                </li>
                                <li>
                                    <i>Release date：</i>
                                    <a>${movie.released_at}</a>
                                </li>
                                <li>
                                    <i>Plot type：</i>
                                    <a>${movie.subtext}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="fk-4">
                        <div class="hdd">Plot summary</div>
                        <div class="bdd" style="font-size:15px">${movie.summary}</div>
                    </div>
                </div>
            </div>
            <div class="luo">
                <div class="hdd-1">
                    <h3>
                        <a>Your Rating</a>
                    </h3>
                    <div class="rating">
                        #{if user_rating}
                            <p>You currently rate this a ${user_rating.score}</p>
                        #{/if}
                        #{else}
                            <p>You did not rate this movie, yet.</p>
                            #{if prediction}
                                <p>We predict you will rate this movie ${prediction}.</p>
                            #{/if}
                        #{/else}
                    </div>
                    <div class="score">
                        <form action="/new_rating" method="POST">
                            <input class="text" type="number" id="text_rating" min="1" max="5" name="new_rating" placeholder="1-5"> 
                            <input class="text" type="hidden" name="movie_id" value="${movie.movie_id}">
                            <input class="btn" type="submit" id="btn_sub" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-2">
            <div class="zui-1">
                <div class="hd">
                    <h3>Users also like</h3>
                    <span>
                        <a href="#" >View more >></a>
                    </span>
                </div>
                <div class="bd clear">
                    #{list items:recommend_list, as:'movie'}
                    <a href="/movies/${movie.movie_id}" title="${movie.title}">
                        <img src="/public/upload/${movie.title}.jpg" alt="${movie.title}">
                    </a>
                    #{/list}
                </div>
            </div>
            <div class="bang-4">
                <div class="hd">Related lists from users</div>
                <div class="lie-3">
                    <ul>
                        #{set count:1/}
                        #{list items:hot_list, as:'movie'}
                        <li>
                            <img src="/public/images/${count}.gif" alt="${movie.title}">
                            <a href="/movies/${movie.movie_id}" title="${movie.title}">${movie.title}</a>
                            <span>
                                <i>
                                    <img src="@{'/public/images/you-1.gif'}">
                                </i>
                                <em>${movie.avg_rating}</em>
                            </span>
                        </li>
                        #{set count:count+1 /}
                        #{/list}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

#{set 'moreScripts'}
<script type="text/javascript">
    $(function(){
        if(!placeholderSupport()){
            $('[placeholder]').focus(function() {
                var input = $(this);
                if (input.val() == input.attr('placeholder')) {
                    input.val('');
                    input.removeClass('placeholder');
                }
            }).blur(function() {
                var input = $(this);
                if (input.val() == '' || input.val() == input.attr('placeholder')) {
                    input.addClass('placeholder');
                    input.val(input.attr('placeholder'));
                }
            }).blur();

            $("#btn_sub").click(function(){
                var value = $("#text_rating").val();
                if(isNaN(value)){
                    alert("please input 1-5 number");
                    return false;
                }
                if(value <= 0 || value > 5){
                    alert("please input 1~5 number");
                    return false;   
                }
            });
        };
    })
    function placeholderSupport() {
        return 'placeholder' in document.createElement('input');
    }
</script>
#{/set}