#{extends 'main.html' /}
#{set title:'Test' /}

<div class="container test">
    <div class="hd">
        <h3>Select recommender algorithm</h3>
    </div>
    <div class="select">
        <form method="post" action="/test">
            <select id="select_algo" name="className">
                #{list items:algorithms, as:'algo'}
                #{if algo.getValue()==className}
                    <option value="${algo.getValue()}" selected>${algo.getValue()}</option>
                #{/if}
                #{else}
                    <option value="${algo.getValue()}">${algo.getValue()}</option>
                #{/else}
                #{/list}
            </select>
            <p>Run time:${runtime} milliseconds</p>
        </form>
    </div>
    #{set count:0/}
    #{list items:recommend_list, as:'movie'}
    <div class="list">
        <div class="left">
            <img src="/public/upload/${movie.title}.jpg" alt="${movie.title}">
        </div>
        <div class="right">
            <div class="detail">
                <div class="bdd">
                    <ul>
                        <li >
                            <i>Title:</i>
                            <a>${movie.title}</a>
                        </li>
                        <li>
                            <i>Average Rating:</i>
                            <a>${movie.avg_rating}</a>
                        </li>
                        <li>
                            <i>Your Rating:</i>
                            #{if ratings[count]!=0}
                                <a>${ratings[count]}</a>
                            #{/if}
                            #{else}
                                <a></a>
                            #{/else}
                        </li>
                        <li>
                            <i>Prediction Rating:</i>
                            <a>${predict_ratings[count]}</a>
                        </li>
                        <li>
                            <i>Add New Rating:</i>
                            <div class="select">
                                <form method="post" action="/test">
                                    <select id="select_rating" name="new_rating" onchange="submit();">
                                        #{list 1..5, as:'i'}
                                        #{if ratings[count]==i}
                                            <option value="${i}" selected>${i}</option>
                                        #{/if}
                                        #{else}
                                            <option value="${i}">${i}</option>
                                        #{/else}
                                        #{/list}
                                    </select>
                                    <input class="text" type="hidden" name="movie_id" value="${movie.movie_id}">
                                    <input class="text" type="hidden" name="className" value="${className}">
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    #{set count:count+1 /}
    #{/list}
</div>

#{set 'moreScripts'}
<script type="text/javascript">
    $(document).ready(function(){
        var oSelect = document.getElementById("select_algo");
        $("#select_algo").change(function(){
            if (oSelect.options[oSelect.selectedIndex].value != '') {
                oSelect.form.submit();
            }
        });
    })
</script>
#{/set}